@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-transparent-bg {
  /* background-color: #e22a2a; */
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

.navbar-transparent-fg {
  background-color: rgba(89, 89, 89, 0.1);
}

.transparent-fg1 {
  background-color: rgba(0, 0, 0, 0.3);
}

.transparent-fg2 {
  background-color: rgba(189, 189, 189, 0.3);
}

.carousel-text-bg {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
}

@media screen and (min-width: 768px) and (max-width: 800px) {
  .mob-screen-fw {
    width: 100%;
  }
}